<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/result">
        <!-- input + tab-->
        <input type="text" name="who" placeholder="누구입니까?">
        <br>
        <br>
        <br>
        <input type="radio" name="gender" value="남자"> 남자
        <input type="radio" name="gender" value="여자"> 여자
        <input type="radio" name="gender" value="생물"> other
        <br>
        <br>
        <br>
        <input type="radio" name="vehicle" value="차"> 차
        <input type="radio" name="vehicle" value="자전거"> 자전거
        <input type="radio" name="vehicle" value="비행기"> 비행기
        <br>
        <br>
        <br>
        <select name="chr" >
            <option value="예쁜">예쁜</option>
            <option value="잘생긴">잘생긴</option>
            <option value="귀여운">귀여운</option>
        </select>

        <!-- input:submit + tab-->
        <input type="submit" value="뿅">
    </form>
    
</body>
</html>